In [9]:
import pandas as pd

# Read the CSV (if it's copied as above, save it as 'ipl.csv')
df = pd.read_csv(r"../datasets/iplAnalysis1.csv")

# Rename columns to shorter names (optional, just an example)
df.columns = [
    'Sr no.','Player', 'Team', 'Role', 'Matches', 'Innings', 'NotOuts', 'BallsPlayed', 'RunsScored',
    'BatAvg', 'BatSR', '50+ Scores', '100+ Scores', 'Wickets', 'BowlInnings', 'BallsBowled', 
    'OversBowled', 'RunsConceded', 'BowlEco', 'BowlAvg', 'BowlSR', '4W', '5W'
]

# Show basic info
print("DataFrame Info")
print()
print(df.info())
print()

# Count missing values
print("No of missing values")
print()
print(df.isnull().sum())
print()

# Replace missing values with 0
df.fillna(0, inplace=True)
print()
print("Dataframe after filling missing values")
print()
print(df.head())
print()
print()

# Round off numerical columns to 2 decimal places
columns = ['BatAvg', 'BatSR', 'OversBowled', 'BowlEco', 'BowlAvg', 'BowlSR']
for col in columns:
    df[col] = pd.to_numeric(df[col], errors='coerce').round(2)
print("DataFrame after rounding the columns to 2 places")
print()
print(df.head(5))
print()

# Convert balls bowled to integer
df['BallsBowled'] = pd.to_numeric(df['BallsBowled'], errors='coerce').fillna(0).astype(int)

# Check for impossible values
print("Columns with impossible values")
print()

print("Players with more than 400 sr")
print()
print(df[df['BatSR'] > 400].head())
print()
print()

print("Players with less than 0 matches played")
print()
print(df[df['Matches'] < 0].head())
print()
print()

print("Players with bowling economy less than 0")
print()
print(df[df['BowlEco'] < 0].head())
print()
print()

# Check duplicates
print("Checking for duplicates")
print()
print(df[df.duplicated()].head())
print()

# Save cleaned DataFrame to new CSV
df.to_csv(r"../datasets/iplAnalysisCleaned.csv", index=False)

DataFrame Info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sr no.        44 non-null     int64
 1   Player        44 non-null     object
 2   Team          44 non-null     object
 3   Role          44 non-null     object
 4   Matches       44 non-null     int64
 5   Innings       44 non-null     int64
 6   NotOuts       44 non-null     int64
 7   BallsPlayed   44 non-null     int64
 8   RunsScored    44 non-null     int64
 9   BatAvg        40 non-null     float64
 10  BatSR         39 non-null     float64
 11  50+ Scores    44 non-null     int64
 12  100+ Scores   44 non-null     int64
 13  Wickets       44 non-null     int64
 14  BowlInnings   44 non-null     int64
 15  BallsBowled   44 non-null     int64
 16  OversBowled   44 non-null     float64
 17  RunsConceded  44 non-null     int64
 18  BowlEco       20 non-null     float64
 19  BowlAvg       20 non-null     float64
 20  BowlSR        20 non-null     float64
 21  4W            44 non-null     int64
 22  5W            44 non-null     int64
dtypes: float64(6), int64(14), object(3)
memory usage: 8.0+ KB
None

No of missing values

Sr no.           0
Player           0
Team             0
Role             0
Matches          0
Innings          0
NotOuts          0
BallsPlayed      0
RunsScored       0
BatAvg           4
BatSR            5
50+ Scores       0
100+ Scores      0
Wickets          0
BowlInnings      0
BallsBowled      0
OversBowled      0
RunsConceded     0
BowlEco         24
BowlAvg         24
BowlSR          24
4W               0
5W               0
dtype: int64


Dataframe after filling missing values

   Sr no.          Player Team     Role  Matches  Innings  NotOuts  \
0       0     Virat Kohli  RCB  Batsman       15       15        3
1       1      Phil Salt   RCB  Batsman       13       13        1
2       2  Mayank Agrawal  RCB  Batsman        4        4        1
3       3  Rajat Patidar©  RCB  Batsman       15       14        1
4       4       Tim David  RCB  Batsman       12        9        6

   BallsPlayed  RunsScored     BatAvg  ...  Wickets  BowlInnings  BallsBowled  \
0          454         657  54.750000  ...        0            0            0
1          229         403  33.583333  ...        0            0            0
2           64          95  31.666667  ...        0            0            0
3          217         312  24.000000  ...        0            0            0
4          101         187  62.333333  ...        0            0            0

   OversBowled  RunsConceded  BowlEco  BowlAvg  BowlSR  4W  5W
0          0.0             0      0.0      0.0     0.0   0   0
1          0.0             0      0.0      0.0     0.0   0   0
2          0.0             0      0.0      0.0     0.0   0   0
3          0.0             0      0.0      0.0     0.0   0   0
4          0.0             0      0.0      0.0     0.0   0   0

[5 rows x 23 columns]


DataFrame after rounding the columns to 2 places

   Sr no.          Player Team     Role  Matches  Innings  NotOuts  \
0       0     Virat Kohli  RCB  Batsman       15       15        3
1       1      Phil Salt   RCB  Batsman       13       13        1
2       2  Mayank Agrawal  RCB  Batsman        4        4        1
3       3  Rajat Patidar©  RCB  Batsman       15       14        1
4       4       Tim David  RCB  Batsman       12        9        6

   BallsPlayed  RunsScored  BatAvg  ...  Wickets  BowlInnings  BallsBowled  \
0          454         657   54.75  ...        0            0            0
1          229         403   33.58  ...        0            0            0
2           64          95   31.67  ...        0            0            0
3          217         312   24.00  ...        0            0            0
4          101         187   62.33  ...        0            0            0

   OversBowled  RunsConceded  BowlEco  BowlAvg  BowlSR  4W  5W
0          0.0             0      0.0      0.0     0.0   0   0
1          0.0             0      0.0      0.0     0.0   0   0
2          0.0             0      0.0      0.0     0.0   0   0
3          0.0             0      0.0      0.0     0.0   0   0
4          0.0             0      0.0      0.0     0.0   0   0

[5 rows x 23 columns]

Columns with impossible values

Players with more than 400 sr

Empty DataFrame
Columns: [Sr no., Player, Team, Role, Matches, Innings, NotOuts, BallsPlayed, RunsScored, BatAvg, BatSR, 50+ Scores, 100+ Scores, Wickets, BowlInnings, BallsBowled, OversBowled, RunsConceded, BowlEco, BowlAvg, BowlSR, 4W, 5W]
Index: []

[0 rows x 23 columns]


Players with less than 0 matches played

Empty DataFrame
Columns: [Sr no., Player, Team, Role, Matches, Innings, NotOuts, BallsPlayed, RunsScored, BatAvg, BatSR, 50+ Scores, 100+ Scores, Wickets, BowlInnings, BallsBowled, OversBowled, RunsConceded, BowlEco, BowlAvg, BowlSR, 4W, 5W]
Index: []

[0 rows x 23 columns]


Players with bowling economy less than 0

Empty DataFrame
Columns: [Sr no., Player, Team, Role, Matches, Innings, NotOuts, BallsPlayed, RunsScored, BatAvg, BatSR, 50+ Scores, 100+ Scores, Wickets, BowlInnings, BallsBowled, OversBowled, RunsConceded, BowlEco, BowlAvg, BowlSR, 4W, 5W]
Index: []

[0 rows x 23 columns]


Checking for duplicates

Empty DataFrame
Columns: [Sr no., Player, Team, Role, Matches, Innings, NotOuts, BallsPlayed, RunsScored, BatAvg, BatSR, 50+ Scores, 100+ Scores, Wickets, BowlInnings, BallsBowled, OversBowled, RunsConceded, BowlEco, BowlAvg, BowlSR, 4W, 5W]
Index: []

[0 rows x 23 columns]